<div id="recipeList">
    <table>
        <tr>
            <th style="display:none">Id</th>
            <th>Item Name</th>
            <th>Item description</th>
            <th>Price</th>
            <th>Store</th>
            <th>Store Location</th>
        </tr>
    {{#each itemList}}
        <tr>
            <td style="display:none">{{this.[0].value}}</td>
            <td>{{this.[1].value}}</td>
            <td>{{this.[3].value}}</td>
            <td>{{this.[2].value}}</td>
            <td>{{this.[4].value}}</td>
            <td>{{this.[5].value}}</td>
        </tr>
    {{/each}}
    </table>
</div>