<div id="recipeList">
    <table class="table table-condensed table-striped">
        <tr>
            <th style="display:none">Id</th>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Price</th>
            <th>Store Name</th>
            <th>Store Location</th>
        </tr>
    {{#each itemList}}
        <tr>
            <td style="display:none">{{this.[0].value}}</td>
            <td>{{this.[1].value}}</td>
            <td>{{this.[3].value}}</td>
            <td>${{this.[2].value}}</td>
            <td>{{this.[4].value}}</td>
            <td>{{this.[5].value}}</td>
        </tr>
    {{/each}}
    </table>
</div>